<!-- third/templates/third/detail.html -->
{% extends 'tour/menu.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'tour/css/detail.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f98f6adb5864070de89a0c8e21bf7951"></script>

<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

<style>
    @font-face {
        font-family: 'S-CoreDream-4Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    body {
        font-family: 'S-CoreDream-4Regular', Arial, Helvetica, sans-serif;
    }
    div{
        padding: 5px;
        margin: auto;
    }
    .container {
        padding: 20px;
    }
    .tour_picture {
        border-right: 1px solid lightgrey;
        text-align: center;
    }
    .scores {
        background-color: #f7f7f7;
        font-size: 1rem;
        height: 100px;
    }
    .senti_word, #map{
        height: 300px;
    }
    .senti_word {
        margin: 10px;
    }
    .expl {
        font-size: 1.25rem;
    }
    .desc_area {
        background-color: #f7f7f7;
    }
    #img {
        height: 20px;
    }
    .chat_log {
        width: 250px;
        padding-top: 10px;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: grey;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

</style>

<body>
    <button onclick="history.back()" id="myBtn" title="Go to top">BACK</button>
    <div class="container">
        <div class="row">
            <div class="col tourTitle">
                <h2>{{ tourData.title }}</h2>
                <hr>
                <p>{{ tourData.addr1 }}</p>
            </div>
            <div class="col-md-7 row align-items-start">
                <div id="chatLog" class="col chat_log scores" readonly>
                    <p>날씨</p>
                    <img src="" id="img"></img>
                </div>
                <div class="col scores">
                    <div class="corona">
                        <p>코로나 지수</p>
                    </div>
                </div>
                <div class="col scores">
                    <div class="congestion">
                        <p>교통 혼잡도</p>
                    </div>
                </div>
                <div class="col scores">
                    <div class="star">
                        <p>평균 별점</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row desc_area">
            <div class="col-md-4">
                <div class="tour_picture">
                    {% if tourData.firstimage %}
                    <img class="thumbnails" src="{{tourData.firstimage}}" style="width:90%;">
                    {% else %}
                    <img class="thumbnails" src="/static/tour/images/image-not-found.jpg" style="width:90%;">
                    {% endif %}
                </div>
            </div>
            <div class="col-md">
                <div class="overview">
                    <p class='expl'>{{tourData.overview}}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md">
                <h4>감성사전</h4>
                <hr>
                <div class="senti_word desc_area" id="senti_word">
                </div>
            </div>
            <div class="col-md">
                <h4>계절별 검색 비율</h4>
                <hr>
                <div class="one-graph desc_area">
                </div>
            </div>
            <div class="col-md">
                <h4>지도</h4>
                <hr>
                <div class="map desc_area">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    
</body>
<!-- 뒤로가기버튼스크립트 -->
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    window.onload = function() {
        mybutton.style.display = "block";
    };
</script>
<!-- 워드클라우드 그리는 스크립트 -->
<script>
    var word_list = new Array();
    var itemDict = {};

    "{% for posi in positiveWord %}"
        itemDict = {
            'x':"{{posi}}",
            'value':10, 
            'category':'긍정'
        };
        word_list.push(itemDict)
    "{% endfor%}"

    "{% for nega in negativeWord %}"
        itemDict = {
            'x':"{{nega}}",
            'value':10, 
            'category':'부정'
        };
        word_list.push(itemDict)
    "{% endfor%}"

    "{% for common in commonWord %}"
        itemDict = {
            'x':"{{common}}",
            'value':10, 
            'category':'보통'
        };
        word_list.push(itemDict)
    "{% endfor%}"

    console.log(word_list)
    anychart.onDocumentReady(function() {
        
        var chart = anychart.tagCloud(word_list);
        chart.angles([0, -45, 90]);
        // chart.angles([0])
        chart.fontFamily('Nanum Gothic')

        // 색설정
        var customColorScale = anychart.scales.ordinalColor();
        customColorScale.colors(["#1E21A3","#FA2343","#D4D4D4"]);

        chart.colorRange(true);
        chart.colorScale(customColorScale);
        chart.colorRange().enabled(true);
        chart.colorRange().length('60%');

        // 간격
        chart.textSpacing(10);
        // display the word cloud chart
        chart.container("senti_word");
        chart.draw();
    });

    </script>

<!-- 코로나,혼잡도,평균별점출력스크립트 -->
<script>


    var corona_count = "{{count_result.corona_count}}"
    var congestion_count = "{{count_result.congestion_count}}"
    var star_avg = "{{analysisData.star_avg}}"

    jQuery(function($){
        for(var i=0; i<corona_count; i++){
            $(".corona").append('<img src="/static/tour/images/cough.png" id="cough_image" style="width : 20%;">');
        }

        if(congestion_count==1){
            $(".congestion").append(`<img src="/static/tour/images/congestion_1.png" id="car_image" style="width : 20%;"><b>  쾌적</b>`);
        } else if (congestion_count==2){
            $(".congestion").append('<img src="/static/tour/images/congestion_2.png" id="car_image" style="width : 20%;"><b>  보통</b>');
        } else if (congestion_count==3){
            $(".congestion").append('<img src="/static/tour/images/congestion_3.png" id="car_image" style="width : 20%;"><b>  혼잡</b>');
        }

        for(var i=1; i<star_avg; i++){
            $(".star").append('<img src="/static/tour/images/star.png" id="star_image" style="width : 20%;">');
        }
        if(star_avg % 1 != 0){
            $(".star").append('<img src="/static/tour/images/star_half.png" id="star_half" style="width :20%;">');
        }
        if (star_avg==0){
            $(".star").append('<img src="/static/tour/images/star_blank.png" id="star_blank" style="width : 20%;">');
        }
    })
</script>

<!-- 계절별 그래프출력 스크립트 -->
<script>
    var w = 300, h = 300;
    var spring = "{{analysisData.spring}}"*100
    var summer = "{{analysisData.summer}}"*100
    var fall = "{{analysisData.fall}}"*100
    var winter = "{{analysisData.winter}}"*100

    var dataName = ["봄","여름","가을","겨울"]
    var graphData = [spring,summer,fall,winter]

    var colorData = ['#79D1B0','#FDC44F','#F58E7E','#33BFDB'];
    var pie = d3.pie();
    var arc = d3.arc().innerRadius(40).outerRadius(150);
    
    var svg = d3.select(".one-graph")
        .append("svg")
        .attr("width", w)
        .attr("height", h)
        .attr("id", "graphWrap");
    
    var g = svg.selectAll(".pie")
        .data(pie(graphData))
        .enter()
        .append("g")
        .attr("class", "pie")
        .attr("transform","translate("+w/2+","+h/2+")");
    
    g.append("path")
        .style("fill", function(d, i) {
            return colorData[i];
        }) 
        .transition()
        .duration(400)
        .delay(function(d, i) { 
            return i * 400;
        })
        .attrTween("d", function(d, i) { 
            var interpolate = d3.interpolate(
                {startAngle : d.startAngle, endAngle : d.startAngle}, 
                {startAngle : d.startAngle, endAngle : d.endAngle} 
            );
            return function(t){
                return arc(interpolate(t)); 
            }
        });
    
    g.append("text")
        .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
        .attr("dy", ".35em")
        .style("text-anchor", "middle")
        .text(function(d, i) {
            return  d.endAngle-d.startAngle > 0.2 ?
                    dataName[i] + " (" + Math.round(1000*(d.endAngle-d.startAngle)/(Math.PI*2))/10 + "%)" : ""
        });
 
</script>

<!-- 지도출력스크립트 -->
<script>
    var lat = "{{tourData.mapy}}"
    var lng = "{{tourData.mapx}}"

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(lat,lng), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var markerPosition  = new kakao.maps.LatLng(lat, lng); 

    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    marker.setMap(map);
    
</script>

<!-- 실시간날씨API -->
<script>
    var get_lat = "{{tourData.mapy}}"
    var get_lng = "{{tourData.mapx}}"
    var apiURL ="http://api.openweathermap.org/data/2.5/weather?lat="+get_lat+"&lon="+get_lng+"&APPID=fc18ef09fcded366103c4fb33b0d2b3b&units=metri";  
    $.ajax({
        url : apiURL,
        method : 'GET',
        success :  (data)=> {
            var temp_max = String((data.main.temp_max - 272)).substring(0,3);
            var temp_min = String((data.main.temp_min - 272)).substring(0,3); 
            
            var content =`${temp_max}℃ / ${temp_min}℃`
            $('#chatLog').append(content); 
            var imgURL = "http://openweathermap.org/img/wn/" + data.weather[0].icon + ".png"; // 아이콘 가져오기
            $('#img').attr("src", imgURL);
        }
    })
</script>
{% endblock %}

