<!-- templates/tour/list.html -->
{% extends 'tour/menu.html' %}
{% load static %}
{% block content %}
<style>
    @font-face {
        font-family: 'S-CoreDream-4Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    body {
        font-family: 'S-CoreDream-4Regular', Arial, Helvetica, sans-serif;
    }
    #r_type {
        margin: auto;
    }
    .boxtitle {
        background-color: skyblue;
        border-radius: 1px;
        margin: auto;
        
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"><link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f98f6adb5864070de89a0c8e21bf7951&libraries=services"></script>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div class="container">
        <div class="container">
            <div class="form-group">
                <br>
                <h1 style="text-align:center;">추천 여행지</h1>
                <hr>
                <form action="/search/" method="POST" class="tour_search">
                <div class="input-group">
                    {% csrf_token %}
                    <div class="input-group-prepend">
                        <p style='margin:auto;'> 타입 :</p>
                        <select class='filters' name="category" id="category">
                            <option value="none" default>전체</option>
                            <option value="A">관광지</option>
                            <option value="B">부대시설</option>
                            <option value="C">숙박업소</option>
                        </select>
                        <p style='margin:auto;'> 거리 :</p>
                        <select class="filters" name="dist" id="dist">
                            <option value="none" default>전체</option>
                            <option value="5" id='dist'>5km 이내</option>
                            <option value="10" id='dist'>10km 이내</option>
                            <option value="20" id='dist'>20km 이내</option>
                            <option value="30" id='dist'>30km 이내</option>
                        </select>
                        <p style='margin:auto;'> 혼잡도 :</p>
                        <select class="filters" name="congestion" id="congestion">
                            <option value="none" default>전체</option>
                            <option value="A">쾌적</option>
                            <option value="B">보통</option>
                            <option value="C">혼잡</option>
                        </select>
                    </div>
                    <p style="margin: auto">주소검색 : </p>
                    <input type="text" id="address" class="form-control" placeholder="주소" aria-describedby="button-addon4" disabled>
                    <div class="input-group-append" id="button-addon4">
                        <button type ="button" class="btn btn-outline-secondary" onclick="GetPostcode()">주소검색</button>
                    </div>
                    <button type ="button" id='lnglat' class="btn btn-outline-secondary" onclick="sendResult()">확인</button>
                </form>
                </div>
            </div>
        <div id="coordXY"></div>
        <hr>

        <div class="row text-center">
            {% for item in tourlist %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if item.firstimage %}
                        <img class="bd-placeholder-img card-img-top" src="{{item.firstimage}}" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                        {% else %}
                        <img class="bd-placeholder-img card-img-top" src="/static/tour/images/image-not-found.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ item.title }}</h4>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item.addr1 }}</h6>
                            <p class="card-text">{{item.overview}}</p>
                            <hr>
                            <div class = "card-text" >
                                <button type="button" style="width:auto;height:30pt;" class="btn btn-outline-danger" title="코로나 위험지수" data-toggle="popover" data-trigger="focus" data-content="3단계중 {{item.corona_count}}단계입니다.">
                                    <img src="/static/tour/images/cough.png" alt="" style="width:30px;height:30px;"> {{item.corona_count}} 
                                </button>
                                <button type="button" style="width:auto;height:30pt;" class="btn btn-outline-info" title="교통 혼잡지수" data-toggle="popover" data-trigger="focus" data-content="3단계중 {{item.congestion_count}}단계입니다.">
                                    <img src="/static/tour/images/car.png" alt="" style="width:30px;height:30px;"> {{item.congestion_count}}</button>
                                <button type="button" style="width:auto;height:30pt;" class="btn btn-outline-warning" title="한줄평 평균별점" data-toggle="popover" data-trigger="focus" data-content="카카오맵 리뷰 별점 평균 {{item.star_avg}}입니다.">
                                    <img src="/static/tour/images/star.png" alt="" style="width:30px;height:27px;"> {{item.star_avg}}</button>

                                <div class="distance" style="margin-top:10px;">
                                <span>검색위치로부터 거리 : {{item.dist}} KM</span><br>
                                <progress value="{{item.dist}}" max="50"></progress>
                              </div>

                            </div>  
                        </div>                      
                        <div class="card-footer">
                            <a href="{% url 'detail' %}?tour_id={{ item.tour_id }}" class="btn btn-sm btn-outline-secondary">자세히보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <ul class="pagination">
                    {% if tourlist.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ tourlist.previous_page_number }}">{{ tourlist.previous_page_number }}</a></li>
                    {% endif %}
    
                    <span class="current">
                        <li class="page-item active"><a class="page-link" href="#">{{ tourlist.number }}</a></li>
                    </span>
    
                    {% if tourlist.has_next %}
                    <li c  lass="page-item"><a class="page-link" href="?page={{ tourlist.next_page_number }}">{{ tourlist.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ tourlist.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}
            </ul>
        </div>
    </div>
</body>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
</script>
    
<script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    var geocoder = new daum.maps.services.Geocoder();
    var lat,lng='';

    function GetPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용
                        lng = result.x;
                        lat = result.y;
                    }
                }); 
            }
        }).open();
    }
    function sendResult() {
        if ($("#address").val() == "") {
            alert("주소를 입력해주세요.")
            return
        }
        let form = $('.tour_search')
        let long = $('<input name="lng" type="hidden"></input>')
        let lati = $('<input name="lat" type="hidden"></input>')
        long.val(lng)
        lati.val(lat)
        form.append(long, lati)
        $('.form-group').append(form)
        form.submit()
    }
    $(".filters").change(function(e) {
        let selectedCategory = $(this).children("option:selected").val()
        sessionStorage.setItem("itemName", selectedCategory)
    })
    $('select').find('option[value='+sessionStorage.getItem('itemName')+']').attr('selected', 'selected')

    if (document.getElementsByClassName('restaurant-item').length == 0) {
        $(".chkres").append("<br><br><h3 style='text-align: center;'>검색 결과가 없습니다.</h3>")
    }

    if (document.getElementsByClassName('thumbnails').length == 0) {
        $(".thumbnail_space").css("width", "160px")
        $(".thumbnail_space").css("height", "240px")
    }
</script>
{% endblock %}